:root {
    --Light_Red: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt_blue: hsl(234, 85%, 45%);
    --Lightslate_blue_background: hsl(252, 100%, 67%);
    --Light_roya_lblue: hsl(241, 81%, 54%);
    --Violet_blue_circle: hsla(256, 72%, 46%, 1);
    --Persian_blue_circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale_blue: hsl(221, 100%, 96%);
    --Light_lavender: hsl(241, 100%, 89%);
    --Dark_gray_blue: hsl(224, 30%, 27%);
    /* Font Size*/
    --FontSize: 18px;
}
body {
    margin: 0;
    background-color: var(--White);
}
main {
    background-color: var(--White);
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(177, 163, 163);
}
.section-one {
    background-color: var(--Light_roya_lblue);
    border-radius: 30px;
    width: 50%;
}
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.window .section-one .home-title .item {
    font-size: 28px;
    color: var(--Light_lavender);
}
.All-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.window .section-one .All-numbers .number{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Violet_blue_circle);
    box-shadow: 0 0 500px rgba(255, 255, 255, 0.716);
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.window .section-one .All-numbers .number h1 {
    font-size: 100px;
    color: var(--White);
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.window .section-one .number .of-total {
    margin: 0;
}
.window .section-one .number .of-total p {
    font-size: 22px;
    color: var(--Light_lavender);
    width: fit-content;
    height: min-content;
    margin: 0 0 0 0;
    font-weight: bold;
}
.window .section-one .secound-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 50px;
}
.window .section-one .secound-title h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--White);
}
.window .section-one .p {
    font-size: 20px;
    line-height: 25px;
    margin-top: -40px;
}
.window .section-one .p p {
    color: var(--Light_lavender);
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.window .section-tow {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.window .section-tow .home-title {
    margin: 25px;
}
.window .section-tow .home-title h1 {
    color: var(--Light_roya_lblue);
    font-weight: bold;
    font-size: 30px;
}
.window .section-tow .informations {
    margin-top: -30px;
}
.window .section-tow .informations .item-one,
.window .section-tow .informations .item-tow,
.window .section-tow .informations .item-three,
.window .section-tow .informations .item-four {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    background-color: rgba(255, 0, 0, 0.086);
    border-radius: 15px;
}
.window .section-tow .informations .item-one .img-one,
.window .section-tow .informations .item-tow .img-tow,
.window .section-tow .informations .item-three .img-three,
.window .section-tow .informations .item-four .img-four {
    display: flex;
    width: min-content;
}
.window .section-tow .informations .item-one .img-one h1,
.window .section-tow .informations .item-tow .img-tow h1,
.window .section-tow .informations .item-three .img-three h1,
.window .section-tow .informations .item-four .img-four h1 {
    margin-left: 10px;
    
}
.window .section-tow .informations .item-one .num-one,
.window .section-tow .informations .item-tow .num-tow,
.window .section-tow .informations .item-three .num-three, 
.window .section-tow .informations .item-four .num-four {
    font-weight: bold;
    font-size: 20px;
}
.window .section-tow .informations .item-one .num-one p,
.window .section-tow .informations .item-tow .num-tow p,
.window .section-tow .informations .item-three .num-three p,
.window .section-tow .informations .item-four .num-four p {
    color: black;
}
.window .section-tow .informations .item-one .num-one p span,
.window .section-tow .informations .item-tow .num-tow p span,
.window .section-tow .informations .item-three .num-three p span, 
.window .section-tow .informations .item-four .num-four p span {
    color: rgba(182, 167, 167, 0.729);
}
.window .section-tow .informations .img-one h1 {
    color: var(--Light_Red);
}
.window .section-tow .informations .img-tow h1 {
    color: var(--Orangey_yellow);
}
.window .section-tow .informations .img-three h1 {
    color: var(--Green_teal);
}
.window .section-tow .informations .img-four h1 {
    color: var(--Cobalt_blue);
}
.window .section-tow .informations .btn {
    margin: 25px;
    display: flex;
}
.window .section-tow .informations .btn button {
    width: 100%;
    font-size: 25px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--Light_roya_lblue);
    text-align: center;
    color: var(--White);
    font-weight: bold;
}
@media (min-width:250px) and (max-width:768px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .section-one {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .window .section-one .All-numbers .number {
        width: 150px;
        height: 150px;
    }
    .window .section-one .All-numbers .number h1 {
        font-size: 60px;
    }
    .window .section-one .number .of-total p {
        font-size: 17px;
    }
    .window .section-one .secound-title h1 {
        font-size: 36px;
    }
    .window .section-tow {
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1200px) {
    main {
        width: 70%;
    }
}
@media (min-width:1201px) {
    main {
        width: 80%;
    }
}
